---
import Base from '../layouts/Base.astro';
---
<Base>
	<div class="lg:items-start lg:justify-between gap-6 p-4">
		<h1 class="text-3xl font-bold text-blue-600 mb-4">Características de ContaSoft</h1>
		<h3>Este sistema cuenta Con los siguientes módulos:</h3>
	</div>

<article class="group flex flex-col-reverse lg:flex-row-reverse items-center lg:items-start lg:justify-between gap-6 p-4">
  <img
    alt=""
    src="/assets/img/register.jpeg"
    class="h-56 w-full lg:w-1/2 rounded-xl object-cover shadow-xl transition group-hover:grayscale-[50%]"
  />
	
	
  <div class="w-full lg:w-1/2">
	<div class="mb-6">
        <h2 class="text-2xl font-semibold text-gray-800 mb-2">Módulo de Presupuesto y Flujo de Efectivo</h2>
        <ul class="list-disc list-inside space-y-1">
          <li>Importación de transacciones financieras</li>
          <li>Registro manual de transacciones</li>
          <li>Proporciona información actualizada sobre el estado financiero</li>
          <li>Categorización automática de ingresos y egresos</li>
          <li>Visualización del presupuesto actual</li>
        </ul>
      </div>
  </div>
</article>

<article class="group flex flex-col-reverse lg:flex-row items-center lg:items-start lg:justify-between gap-6 p-4">
    <img
      alt=""
      src="/assets/img/report.jpeg"
      class="h-56 w-full lg:w-1/2 rounded-xl object-cover shadow-xl transition group-hover:grayscale-[50%]"
    />
    <div class="w-full lg:w-1/2">
        <div class="mb-6">
			<h2 class="text-2xl font-semibold text-gray-800 mb-2">Módulo de Reportes</h2>
			<ul class="list-disc list-inside space-y-1">
			  <li>Generación de reportes mensuales, anuales y por periodo académico</li>
			  <li>Informes detallados de desempeño financiero</li>
			  <li>Análisis de tendencias a lo largo del tiempo</li>
			  <li>Comparación de resultados con períodos anteriores</li>
			  <li>Exportación de informes en formatos PDF y Excel</li>
			</ul>
		  </div>
    </div>
  </article>

  <article class="group flex flex-col-reverse lg:flex-row-reverse items-center lg:items-start lg:justify-between gap-6 p-4">
	<img
	  alt=""
	  src="/assets/img/inventory.jpeg"
	  class="h-56 w-full lg:w-1/2 rounded-xl object-cover shadow-xl transition group-hover:grayscale-[50%]"
	/>
	  
	  
	<div class="w-full lg:w-1/2">
		<div class="mb-6">
			<h2 class="text-2xl font-semibold text-gray-800 mb-2">Módulo de Inventario</h2>
			<ul class="list-disc list-inside space-y-1">
			  <li>Control de recursos tecnológicos y estado actual</li>
			  <li>Historial de movimientos de recursos tecnológicos</li>
			  <li>Generación de reportes de estado y mantenimiento</li>
			  <li>Seguimiento en tiempo real de la disponibilidad de recursos</li>
			</ul>
		  </div>
	</div>
  </article>
  
  <article class="group flex flex-col-reverse lg:flex-row items-center lg:items-start lg:justify-between gap-6 p-4">
	  <img
		alt=""
		src="/assets/img/access.jpeg"
		class="h-56 w-full lg:w-1/2 rounded-xl object-cover shadow-xl transition group-hover:grayscale-[50%]"
	  />
	  <div class="w-full lg:w-1/2">
		<div class="mb-6">
			<h2 class="text-2xl font-semibold text-gray-800 mb-2">Módulo de Gestión de Accesos</h2>
			<ul class="list-disc list-inside space-y-1">
			  <li>Gestión centralizada de usuarios y roles</li>
			  <li>Configuración de políticas de acceso basadas en roles</li>
			  <li>Encriptación de datos sensibles</li>
			  <li>Cambio de contraseña por parte del usuario</li>
			  <li>Registro de accesos con notificaciones al administrador</li>
			</ul>
		  </div>
	  </div>
	</article>

	<article class="group flex flex-col-reverse lg:flex-row-reverse items-center lg:items-start lg:justify-between gap-6 p-4">
		<img
		  alt=""
		  src="/assets/img/system.jpeg"
		  class="h-56 w-full lg:w-1/2 rounded-xl object-cover shadow-xl transition group-hover:grayscale-[50%]"
		/>
		  
		  
		<div class="w-full lg:w-1/2">
			<div class="mb-6">
				<h2 class="text-2xl font-semibold text-gray-800 mb-2">Módulo de Administración del Sistema</h2>
				<ul class="list-disc list-inside space-y-1">
				  <li>Creación y configuración de cuentas de asociación</li>
				  <li>Asignación de perfil de administrador a cada cuenta de asociación</li>
				  <li>Cambio y recuperación de contraseñas</li>
				</ul>
			  </div>
		</div>
	  </article>
</Base>