---
import Base from "../../layouts/Base.astro";
import Header from "../../components/Header.astro";

export async function getStaticPaths() {
    return [
        { params: { rutas: 'carac' } },
        { params: { rutas: 'precios' } },
        { params: { rutas: 'sobre-nosotros' } },
    ];
}



    
const {rutas}=Astro.params
---

<Base title = `${rutas}` >
    <section class="h-screen flex justify-center ">
      
      <Header title={rutas}/>
      
     
    </section>

  
</Base>


